<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="dchoruses.scss" />
    <title>dictations</title>
  </head>
  <body class="dclist">
    <h1 class="Partscore">Dictations</h1>
    <div class="ptitle">
      <p>
        artist:
      </p>
      <h3 class="artist"><%= @d_chorus.artist %></h3>
      <h4 class="song"><%= @d_chorus.songs %></h4>
    </div>
    <div class="pchart">
      <div class="detail">
        <p>
          詳細
        </p>
      </div>
        <table class="pchart">

          <tr>
            <th class="first">
              貸出者
            </th>
            <td>
              <%= @d_chorus.user.username %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からの説明
            </th>
            <td>
              <%= @d_chorus.discription %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からのお願い
            </th>
            <td>
              <%= @d_chorus.request %>
            </td>
          </tr>

        </table>

    </div>
    <%= form_for(@d_chorus, url:{controller:'d_choruses', action:'consent'})do |f| %>
    <%= f.hidden_field :id, value: @d_chorus.id %>
    <% end %>

    <% if @d_chorus.dcrequests.last == nil || @d_chorus.dcrequests.last.rent %>
      <%= link_to "借りる", dchorus_consent_path(@d_chorus) ,:class => "back_btn" %>
    <% else %>
      <p class="back_btn">貸出中</p>
      <% if @d_chorus.user.id == current_user.id %>
        <%= link_to "返却", dcrequests_update_path(id: @d_chorus.id), :method => :put ,:class => "back_btn" %>
      <% end %>
    <% end %>
  </body>
</html>
