<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="pbasses.scss" />
    <title>bandscore</title>
  </head>
  <body class="pblist">
    <h1 class="Partscore">Part Score</h1>
    <div class="ptitle">
      <p>
        artist:
      </p>
      <h3 class="artist"><%= @pbass.artist %></h3>
      <h4 class="song"><%= @pbass.songs %></h4>
    </div>
    <div class="pchart">
      <div class="detail">
        <p>
          詳細
        </p>
      </div>
        <table class="pchart">

          <tr>
            <th class="first">
              貸出者
            </th>
            <td>
              <%= @pbass.user.username %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からの説明
            </th>
            <td>
              <%= @pbass.discription %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からのお願い
            </th>
            <td>
              <%= @pbass.request %>
            </td>
          </tr>

        </table>

    </div>
    <%= form_for(@pbass, url:{controller:'pbasses', action:'consent'})do |f| %>
    <%= f.hidden_field :id, value: @pbass.id %>
    <% end %>

    <% if @pbass.pbrequests.last == nil || @pbass.pbrequests.last.rent %>
      <%= link_to "借りる", pbass_consent_path(@pbass) ,:class => "back_btn" %>
    <% else %>
      <p class="back_btn">貸出中</p>
      <% if @pbass.user.id == current_user.id %>
        <%= link_to "返却", pbrequests_update_path(id: @pbass.id), :method => :put ,:class => "back_btn" %>
      <% end %>
    <% end %>
  </body>
</html>
