<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="pdrums.scss" />
    <title>bandscore</title>
  </head>
  <body class="pdlist">
    <h1 class="Partscore">Part Score</h1>
    <div class="ptitle">
      <p>
        artist:
      </p>
      <h3 class="artist"><%= @pdrum.artist %></h3>
      <h4 class="song"><%= @pdrum.songs %></h4>
    </div>
    <div class="pchart">
      <div class="detail">
        <p>
          詳細
        </p>
      </div>
        <table class="pchart">

          <tr>
            <th class="first">
              貸出者
            </th>
            <td>
              <%= @pdrum.user.username %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からの説明
            </th>
            <td>
              <%= @pdrum.discription %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からのお願い
            </th>
            <td>
              <%= @pdrum.request %>
            </td>
          </tr>

        </table>

    </div>
    <%= form_for(@pdrum, url:{controller:'pdrums', action:'consent'})do |f| %>
    <%= f.hidden_field :id, value: @pdrum.id %>
    <% end %>

    <% if @pdrum.pdrequests.last == nil || @pdrum.pdrequests.last.rent %>
      <%= link_to "借りる", pdrum_consent_path(@pdrum) ,:class => "back_btn" %>
    <% else %>
      <p class="back_btn">貸出中</p>
      <% if @pdrum.user.id == current_user.id %>
        <%= link_to "返却", pdrequests_update_path(id: @pdrum.id), :method => :put ,:class => "back_btn" %>
      <% end %>
    <% end %>
  </body>
</html>
