<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="pguitar.scss" />
    <title>dictations</title>
  </head>
  <body class="pglist">
    <h1 class="Partscore">Dictations</h1>
    <div class="ptitle">
      <p>
        artist:
      </p>
      <h3 class="artist"><%= @dictation.artist %></h3>
      <h4 class="song"><%= @dictation.songs %></h4>
    </div>
    <div class="pchart">
      <div class="detail">
        <p>
          詳細
        </p>
      </div>
        <table class="pchart">

          <tr>
            <th class="first">
              貸出者
            </th>
            <td>
              <%= @dictation.user.username %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からの説明
            </th>
            <td>
              <%= @dictation.discription %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からのお願い
            </th>
            <td>
              <%= @dictation.request %>
            </td>
          </tr>

        </table>

    </div>
    <%= form_for(@dictation, url:{controller:'dictations', action:'consent'})do |f| %>
    <%= f.hidden_field :id, value: @dictation.id %>
    <% end %>

    <% if @dictation.dgrequests.last == nil || @dictation.dgrequests.last.rent %>
      <%= link_to "借りる", dictation_consent_path(@dictation) ,:class => "back_btn" %>
    <% else %>
      <p class="back_btn">貸出中</p>
      <% if @dictation.user.id == current_user.id %>
        <%= link_to "返却", dgrequests_update_path(id: @dictation.id), :method => :put ,:class => "back_btn" %>
      <% end %>
    <% end %>

  </body>
</html>
