<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="pdlist.scss" />
    <title>partscore</title>
  </head>
  <body class="pdlist">
    <h1 class="Partscore">Dictation</h1>
    <h5>アーティスト名or曲名で検索</h5>
    <%= form_tag(controller:"ddrums",action:"index") do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'search',:artist => nil ,:songs => nil%>
    <% end %>
    <ul class="nav">
      <li class="pguitar"><%= link_to "Guitar", { :controller => "dictations", :action => "index"}, :method => :get ,:class => "nav" %></li>
      <li class="pbass"><%= link_to "Bass", { :controller => "dbasses", :action => "index"}, :method => :get ,:class => "nav" %></li>
      <li class="pdrums"><%= link_to "Drums", { :controller => "ddrums", :action => "index"}, :method => :get ,:class => "nav" %></li>
      <li class="pkeyboads"><%= link_to "Keyboards", { :controller => "dkeyboards", :action => "index"}, :method => :get ,:class => "nav" %></li>
      <li class="dchorus"><%= link_to "Chorus", { :controller => "dchoruses", :action => "index"}, :method => :get ,:class => "nav" %></li>
    </ul>

    <div class="position">
        <table class="partscore">
          <tr>
            <th>
              artist
            </th>
            <th>
              song
            </th>
          </tr>
          <% @ddrums.each do |b|  %>
          <tr>
            <td>
              <a href="/ddrums/<%= b.id %>" class="show"><%= b.artist %></a>
            </td>
            <td>
              <%= b.songs %>
            </td>
            <td class="edit">
              <% if b.user.id==current_user.id %>
              <%= link_to "編集", { :controller => "ddrums", :action => "edit",:id => b.id}, :method => :get ,:class => "edit_btn" %>
              <% end %>
            </td class="edit">
            <td class="edit">
              <% if b.user.id==current_user.id %>
              <%= link_to "削除", { :controller => "ddrums", :action => "destroy",:id => b.id}, :method => :delete ,:class => "edit_btn" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>

    </div>

    <%= link_to "メインページ", { :controller => "score", :action => "main"}, :method => :get ,:class => "back_btn" %>
  </body>
</html>
