<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="pdrum.scss" />
    <title>dictations</title>
  </head>
  <body class="pdlist">
    <h1 class="Partscore">Dictations</h1>
    <div class="ptitle">
      <p>
        artist:
      </p>
      <h3 class="artist"><%= @ddrum.artist %></h3>
      <h4 class="song"><%= @ddrum.songs %></h4>
    </div>
    <div class="pchart">
      <div class="detail">
        <p>
          詳細
        </p>
      </div>
        <table class="pchart">

          <tr>
            <th class="first">
              貸出者
            </th>
            <td>
              <%= @ddrum.user.username %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からの説明
            </th>
            <td>
              <%= @ddrum.discription %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からのお願い
            </th>
            <td>
              <%= @ddrum.request %>
            </td>
          </tr>

        </table>

    </div>
    <%= form_for(@ddrum, url:{controller:'ddrums', action:'consent'})do |f| %>
    <%= f.hidden_field :id, value: @ddrum.id %>
    <% end %>

    <% if @ddrum.ddrequests.last == nil || @ddrum.ddrequests.last.rent %>
      <%= link_to "借りる", ddrum_consent_path(@ddrum) ,:class => "back_btn" %>
    <% else %>
      <p class="back_btn">貸出中</p>
      <% if @ddrum.user.id == current_user.id %>
        <%= link_to "返却", ddrequests_update_path(id: @ddrum.id), :method => :put ,:class => "back_btn" %>
      <% end %>
    <% end %>
  </body>
</html>
