<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="detail.scss" />
    <title>bandscore</title>
  </head>
  <body class="list">
    <h1 class="Bandscore">Band Score</h1>
    <div class="title">
      <p>
        artist:
      </p>
      <h3 class="artist"><%= @tweet.artist %></h3>
      <h4 class="song"><%= @tweet.songs %></h4>
    </div>
    <div class="chart">
      <div class="detail">
        <p>
          詳細
        </p>
      </div>
        <table class="chart">

          <tr>
            <th class="first">
              貸出者
            </th>
            <td>
              <%= @tweet.user.username %>
            </td>
          </tr>
          <tr>
            <th>
              パート
            </th>
            <td>
              <%= @tweet.part %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からの説明
            </th>
            <td>
              <%= @tweet.discription %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からのお願い
            </th>
            <td>
              <%= @tweet.request %>
            </td>
          </tr>

        </table>

    </div>
    <%= form_for(@tweet, url:{controller:'tweets', action:'consent'})do |f| %>
    <%= f.hidden_field :id, value: @tweet.id %>
    <% end %>

    <% if @tweet.requests.last == nil || @tweet.requests.last.rent %>
      <%= link_to "借りる", tweet_consent_path(@tweet) ,:class => "back_btn" %>
    <% else %>
      <p class="back_btn">貸出中</p>
      <% if @tweet.user.id == current_user.id %>
        <%= link_to "返却", requests_update_path(id: @tweet.id), :method => :put ,:class => "edit_btn" %>
      <% end %>
    <% end %>
  </body>
</html>
