<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="pbasses.scss" />
    <title>dictations</title>
  </head>
  <body class="pblist">
    <h1 class="Partscore">Dictations</h1>
    <div class="ptitle">
      <p>
        artist:
      </p>
      <h3 class="artist"><%= @dbass.artist %></h3>
      <h4 class="song"><%= @dbass.songs %></h4>
    </div>
    <div class="pchart">
      <div class="detail">
        <p>
          詳細
        </p>
      </div>
        <table class="pchart">

          <tr>
            <th class="first">
              貸出者
            </th>
            <td>
              <%= @dbass.user.username %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からの説明
            </th>
            <td>
              <%= @dbass.discription %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からのお願い
            </th>
            <td>
              <%= @dbass.request %>
            </td>
          </tr>

        </table>

    </div>
    <%= form_for(@dbass, url:{controller:'dbasses', action:'consent'})do |f| %>
    <%= f.hidden_field :id, value: @dbass.id %>
    <% end %>

    <% if @dbass.dbrequests.last == nil || @dbass.dbrequests.last.rent %>
      <%= link_to "借りる", dbass_consent_path(@dbass) ,:class => "back_btn" %>
    <% else %>
      <p class="back_btn">貸出中</p>
      <% if @dbass.user.id == current_user.id %>
        <%= link_to "返却", dbrequests_update_path(id: @dbass.id), :method => :put ,:class => "back_btn" %>
      <% end %>
    <% end %>
  </body>
</html>
