<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="plist.scss" />
    <title>partscore</title>
  </head>
  <body class="plist">
    <h1 class="Partscore">Part Score</h1>
    <ul class="nav">
      <li class="pguitar"><%= link_to "Guitar", { :controller => "partscores", :action => "index"}, :method => :get ,:class => "nav" %></li>
      <li class="pbass"><%= link_to "Bass", { :controller => "pbasses", :action => "index"}, :method => :get ,:class => "nav" %></li>
      <li class="pdrums"><%= link_to "Drums", { :controller => "pdrums", :action => "index"}, :method => :get ,:class => "nav" %></li>
      <li class="pkeyboads"><%= link_to "Keyboards", { :controller => "pkeyboards", :action => "index"}, :method => :get ,:class => "nav" %></li>
    </ul>

    <div class="position">
        <table class="partscore">
          <tr>
            <th>
              artist
            </th>
            <th>
              song
            </th>
          </tr>
          <% @partscore.each do |a|  %>
          <tr>
            <td>
              <a href="/partscores/<%= a.id %>" class="show"><%= a.artist %></a>
            </td>
            <td>
              <%= a.songs %>
            </td>
            <td class="edit">
              <% if a.user.id==current_user.id %>
              <%= link_to "編集", { :controller => "partscores", :action => "edit",:id => a.id}, :method => :get ,:class => "edit_btn" %>
              <% end %>
            </td>
            <td class="edit">
              <% if a.user.id==current_user.id %>
              <%= link_to "削除", { :controller => "partscores", :action => "destroy",:id => a.id}, :method => :delete ,:class => "edit_btn" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>

    </div>

    <%= link_to "メインページ", { :controller => "score", :action => "main"}, :method => :get ,:class => "back_btn" %>
  </body>
</html>
