<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="pguitar.scss" />
    <title>bandscore</title>
  </head>
  <body class="pglist">
    <h1 class="Partscore">Part Score</h1>
    <div class="ptitle">
      <p>
        artist:
      </p>
      <h3 class="artist"><%= @partscore.artist %></h3>
      <h4 class="song"><%= @partscore.songs %></h4>
    </div>
    <div class="pchart">
      <div class="detail">
        <p>
          詳細
        </p>
      </div>
        <table class="pchart">

          <tr>
            <th class="first">
              貸出者
            </th>
            <td>
              <%= @partscore.user.username %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からの説明
            </th>
            <td>
              <%= @partscore.discription %>
            </td>
          </tr>
          <tr>
            <th>
              貸出者からのお願い
            </th>
            <td>
              <%= @partscore.request %>
            </td>
          </tr>

        </table>

    </div>
    <%= form_for(@partscore, url:{controller:'partscores', action:'consent'})do |f| %>
    <%= f.hidden_field :id, value: @partscore.id %>
    <% end %>

    <% if @partscore.pgrequests.last == nil || @partscore.pgrequests.last.rent %>
      <%= link_to "借りる", partscore_consent_path(@partscore) ,:class => "back_btn" %>
    <% else %>
      <p class="back_btn">貸出中</p>
      <% if @partscore.user.id == current_user.id %>
        <%= link_to "返却", pgrequests_update_path(id: @partscore.id), :method => :put ,:class => "back_btn" %>
      <% end %>
    <% end %>
  </body>
</html>
